extends layout
include _includes/sharedHTMLfunctions
block content

  .row.banner
    p 2023810077 채민석
    .col-12
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message
      
      app-home-list

    .col-12.col-md-4
      p.lead= sidebar

  block scripts
    script(src='/app_public/build/main.40acc12cec2fdab5.js')
    script(src='/app_public/build/polyfills.2f64c0524d27213b.js')
    script(src='/app_public/build/runtime.e4985b6c090739db.js')
